@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

/* * {
    outline: 1px solid red;
  }

  */